.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  background-color: #00db9a;
  color: #ffffff
  /* margin-bottom: 50px; */
}

h1 {
  font-size: 54px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}